@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './components/container.scss';
@import './components/title.scss';
@import './components/input.scss';
@import './components/label.scss';
@import './components/textarea.scss';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-style: normal;
}





