.label {
  display: inline-block;
  font-weight: normal;
  font-size: 10px;
  color: $mainColor;
  margin-bottom: 4px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -5px;
    width: 4px;
    height: 4px;
    background: #FF8484;
    border-radius: 4px;
  }
}